body {
	font-size: 150%;
	font-family: sans-serif;
}

button,
input,
select {
	font-size: inherit;
}

#toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
	z-index: 1;
	background-color: rgba(255,255,255,0.75);
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}

#gridCanvas {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.agent {
	position: absolute;
	left: 0;
	top: 0;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	border: 4px solid transparent;
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	
	
	-webkit-transition-duration: 0.5s;
	   -moz-transition-duration: 0.5s;
	    -ms-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}
